<h1>Resolve destination for product</h1>

<%= form_with url: destination_resolvers_path do |form| %>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
