<p id="notice"><%= notice %></p>

<%= turbo_frame_tag "category" do %>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<% end %>

<div id="products">
  <%= render @category.products %>
</div>
