<p id="notice"><%= notice %></p>

<%= turbo_frame_tag "product" do %>
  <p>
    <strong>Reference:</strong>
    <%= @product.reference %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<% end %>

