<%= form_with(model: route_condition) do |form| %>
  <% if route_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route_condition.errors.count, "error") %> prohibited this route_condition from being saved:</h2>

      <ul>
        <% route_condition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_ids %>
    <%= form.collection_check_boxes :product_ids, Product.all, :id, :reference %>
  </div>
  <hr>
  <div class="field">
    <%= form.label :category_ids %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>
  <hr>
  <div class="field">
    <%= form.label :max_price %>
    <%= form.number_field :max_price %>
  </div>
  <hr>
  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
