<p id="notice"><%= notice %></p>

<h1>Route Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @route_conditions.each do |route_condition| %>
      <tr>
        <td><%= route_condition.destination %></td>
        <td><%= link_to 'Show', route_condition %></td>
        <td><%= link_to 'Edit', edit_route_condition_path(route_condition) %></td>
        <td><%= link_to 'Destroy', route_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route Condition', new_route_condition_path %>
