<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul id="mainmenu">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Categories', categories_path %></li>
        <li><%= link_to 'Products', products_path %></li>
        <li><%= link_to 'Route conditions', route_conditions_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
